.header {
    background-color: rgba(54, 55, 97, 0.6);
    height: 60px;
    width: 100%;
    position: fixed;
    top: 0;
    backdrop-filter: blur(10px);
    color: white;
}

.header-inner {
    width: 90%;
    margin: auto;
}

.nav {
    float: right;
    font-size: 20px;
    line-height: 60px;
}

.nav span {
    padding-left: 60px;
}

h1 {
    font-weight: 500;
    line-height: 20px;
    display: inline-block;
}